@*this is a partial and can be added to another view using @Html.Partial("MyPartial")*@
<div class="bg-info">
    <div>This is a message form the partial view.</div>
    <a asp-action="Index">This is a link to the Index action</a>
</div>